@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");



form {
  width: 100%;
  /*max-width: 1280px; */
  margin: 0 auto;
  padding: 10px;
  background: #6364c6;
  border-radius: 40px;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

textarea {
  width: 100%;

  color: #fff;
  font-size: 18px;

  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  width: 100px;
  cursor: pointer;
  background: white;
  border-radius: 25px;
  align-items: center;
  vertical-align: middle;
}
button:hover {
  
  border-style: solid;
  border-color: red;
  width: 100px;
  cursor: pointer;
  background: white;
  border-radius: 25px;
  align-items: center;
  vertical-align: middle;
  
}

form img {
  width: 30px;
  height: 30px;
}